.home--container {
    background-color: #efd7cf;
    width: 100vw;
}

.body--container {
    height: fit-content;
    min-height: 90vh;
    width: 80vw;
    background-color: #f7ebe7;
    font-family: 'Times New Roman';
}

.about--container {
    height: fit-content;
    min-height: 90vh;
    width: 20vw;
    text-align: center;
    justify-content: start;
    align-items: center;
    font-family: 'Times New Roman';
}



.url--input {
    width: 80%;
    margin-right: 0.5%;
    text-align: center;
}

.url--div {
    justify-content: center;
    align-items: center;
    width: 100%;
}
