.background--container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: white;
}

.floor--container {
    position: absolute; 
    width: 100vw;
    background-color: pink;
    left: 0;
    bottom: 0;
    height: 30vh;
}


.fridge--image{
    width: 20%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 2%;
    object-fit: fill;
}

.cabinets--image {
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 23%;
}

.recipebook--image {
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 41%;
    left: 30%;
}

.page--column {
    min-height: 100vh;
    height: fit-content;
    width: 50vw;
    font-family: Courier New, Courier, monospace;
}

.pageone--div {
    background-image: url('C:\Users\Erinn\source\repos\recipewebsite\public\oldpagebackground.jpg');
    min-height: 80%;
    height: fit-content;
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: #d0bbb4 -5px 5px;
}
.pagetwo--div {
    background-image: url('C:\Users\Erinn\source\repos\recipewebsite\public\oldpagebackground.jpg');
    min-height: 100%;
    height: fit-content;
    width: 80%;
    margin-right: 20%;
    margin-top: 10%;
    justify-content: center;
    align-content: center;
    box-shadow: #d0bbb4 5px 5px;
}

.small--div {
    font-size: xx-small;
}
.kitchen--container {
    background-color: #efd7cf;
}

.back--btn {
    background-color: #f19888;
    width: 5vw;
    font-weight: bold;
    margin-top: 2%;
    padding: 1%;
    font-size: small;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.back--btn:hover {
    transform: scale(1.1)
}

.forward--btn {
    background-color: #f19888;
    width: 5vw;
    font-weight: bold;
    margin-top: 2%;
    padding: 1%;
    font-size: small;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 85%;
}

    .forward--btn:hover {
        transform: scale(1.1)
    }
