.background--container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: white;
}

.floor--container {
    position: absolute; 
    width: 100vw;
    background-color: pink;
    left: 0;
    bottom: 0;
    height: 30vh;
}


.fridge--image{
    width: 20%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 2%;
    object-fit: fill;
}

.cabinets--image {
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 23%;
}

.recipebook--image {
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 41%;
    left: 30%;
}