.prompt--container {
    position: absolute;
    background-color: #a49e97;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.65); 
}

.prompt--message {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 30%;
    text-align: center;
    font-weight: bolder;
}

.x--btn {
    position: fixed;
    left: 85%;
    bottom: 85%;
    width: 10%;
    height: 10%;
    padding-top: 1%;
    background-color: #1c4e4f;
    color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .x--btn:hover {
        background-color: #6a8e8f;
        color: black;
    }

.navigate--btn {
    position: fixed;
    padding: 2%;
    margin-left : 1%;
    width: fit-content;
    height: fit-content;
    background-color: #deae9f;
    color: white;
    right: 72%;
    top: 75%;
    font-size: 80%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .navigate--btn:hover {
        background-color: #efd7cf;
        color: black;
    }
