.recipe--card {
    width: 80%;
    height: fit-content;
    background-color: #deae9f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 1%;
}


.selected {
    background-color: #74a892;
    color: black;
    transform: scale(1.05);
    box-shadow: #9fca90 5px 5px, #a9d09d 10px 10px;
}

.strickthrough {
    text-decoration: line-through;
}


.ingredients--column {
    width: 40%;
    align-items: center;
    text-align: center;
}

.instructions--column {
    width: 40%;
    align-items: center;
    text-align: center;
}

.info--column {
    width: 20%;
    align-items: center;
    text-align: center;
}

.header {
    font-weight: bold;
}

.recipe--header {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 80%;
}

.custom--btn {
    background-color: #879693;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: center;
    text-align: center;
    align-items: center;
}

    .custom--btn:hover {
        background-color: #a49e97;
        color: black;
    }


.minirecipe--card {
    background-color: #fff8f9;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: fit-content;
    min-height: 10%;
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.minirecipe--card:hover{
    transform: scale(1.1)
}

.mini--header {
    width: 90%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.recipe--image {
    height: 70%;
    width: 70%;
}

