.search--input {
    width: 60%;
    margin-right: 1%;
    text-align: center;
}

.search--criteria {
    width: 15%;
    margin-right: 1%;
    text-align: center;
    padding: 1%;
}

.search--div {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search--btn {
    background-color: #879693;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: center;
    text-align: center;
    align-items: center;
}

    .search--btn:hover {
        background-color: #a49e97;
        color: black;
    }

.option--div:hover {
    background-color: pink;
    color: white;
}
