
.gridview--container {
    background-color: #efd7cf;
    width: 100vw;
    font-family: 'Times New Roman';
    height: fit-content;
    min-height: 90vh;
    position: absolute;
    left: 0;
}


.backtokitchen {
    position: absolute;
    left: 0;
    margin-left: 5%;
    font-weight: bolder;
}
